* {
    margin: 0;
    padding: 0;
}

.nav {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
}

.nav .logo_links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.nav .logo_links .links {
    display: flex;
    flex-direction: column;
}

.nav .donate {
    align-self: center;
    width: 100%;

}

.nav .donate button {
    padding: 3%;
    width: 100%;
}


/* start page */
.start-page {
    display: flex;
    flex-direction: column;
    padding: 7% 10% 7% 10%;
}

.start-page .head_matter {
    margin-top: 60%;
    padding: 0 8% 8% 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-page .head_matter .head {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 160px;
}

/* Mission & Values */
.mission-values {
    padding: 5% 10% 5% 10%;
}

.mission-values .head_matter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.mission-values .head_matter .head {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 160px;
    margin-bottom: 10px;
}

.mission-values .quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mission-values .quotes .q {
    width: 45%;
    margin: 2% 5% 2% 0;
    display: flex;
    flex-direction: column;
}

.mission-values .quotes .img-div {
    display: flex;
    height: 25%;
    margin-bottom: 5px;
}

.mission-values .quotes img {
    width: 25%;
}

.mission-values .quotes h2 {
    margin-bottom: 5px;
}

/* OUR TEAM */
.our-team {
    position: relative;
}

.our-team content {
    display: flex;
    flex-direction: column;
    margin: 10% 10% 5% 10%;
}

.our-team content .box-head-matter {
    display: flex;
    flex-direction: column;
}

.our-team content .box-head-matter .box {
    padding: 10px 25px 10px 25px;
    position: absolute;
    top: -4%;
    align-self: center;
}

.our-team content .box-head-matter .head-matter {
    display: flex;
    flex-direction: column;
    margin: 3% 0 3% 0;
}

.our-team content .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.our-team content .team .member {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin-bottom: 5%;
}

.our-team content .team .member .name {
    padding: 5% 30% 5% 5%;
}

/* our - impact */
.our-impact content {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-impact content .box {
    padding: 10px 25px 10px 25px;
    margin-bottom: 10%;
    text-align: center;
}

.our-impact content .head {
    margin-bottom: 10%;
}

.our-impact content .achievements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-impact content .achievements .achieved {
    margin-bottom: 10%;
    width: 50%;
}

/*save*/
.save content {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.save .sub-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.save .sub-content .box {
    position: absolute;
    padding: 10px 25px 10px 25px;
    align-self: center;
    top: -4%;
}

.save .sub-content .next-button {
    align-self: end;
    top: 19%;
    right: -20px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #C1F7D5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.save .sub-content .next-button img {
    height: 20px;
}

.save .sub-content .matter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-bottom: 5%;
}

.save .sub-content .matter p {
    margin: 5% 0 5% 0;
}

.save .sub-content .matter button {
    width: 50%;
    padding: 10px 25px 10px 25px;
}


/* page6 */
.subscribe {
    padding: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: #C1F7D5;
    display: flex;
    flex-direction: column;
}

.subscribe h2 {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
    padding-bottom: 10px;
}

.subscribe div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe .email {
    border-radius: 100px;
    border: 0;
    height: 30px;
    text-align: center;
    width: 60%;
    padding: 1%;
    background-color: #FFFFFF;
}

.subscribe button {
    border-radius: 100px;
    border: 0;
    padding: 10px;
    background-color: #354463;
    text-align: left;
    font: normal normal bold 16px/19px Helvetica;
    width: 40%;
    color: #C1F7D5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}


/* footer*/

footer {
    padding: 5% 10% 5% 10%;
}

footer content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer content div {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 5%;
}

footer content .empty {
    width: 0;
}

footer content .empty1 {
    width: 30%;
}

footer content .hashtag {
    width: 55%;
}



/*--------------------- TABLET VERSION---------------------*/

@media(min-width : 600px) {

    /* header nav page */
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav .logo_links {
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin-bottom: 0;
    }

    .nav .logo_links .links {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0%;
        margin-right: 7%;
        margin-top: 2%;
    }

    .nav .donate {
        width: 30%;
    }

    /*start page*/
    .start-page .hashtag {
        width: 50%;
    }

    .start-page .head_matter {
        margin-top: 10%;
    }

    /* Mission & Values */
    .mission-values .head_matter {
        align-items: start;
    }

    .mission-values .quotes .q {
        width: 28%;
    }

    .mission-values .quotes .img-div {
        display: flex;
        height: 40%;
    }

    .mission-values .quotes img {
        width: 40%;
    }

    /* our team */
    .our-team content {
        margin-bottom: 0;
    }

    .our-team content .box-head-matter .box {
        align-self: start;
    }

    .our-team content .box-head-matter .head-matter {
        flex-direction: row;
        justify-content: space-between;
    }

    .our-team content .box-head-matter .head-matter h2 {
        width: 47%;
    }

    .our-team content .box-head-matter .head-matter p {
        width: 47%;
        align-self: center;
    }

    .our-team content .team .member .name {
        position: relative;
        top: -6%;
        left: 7%;
    }

    /* our impact */
    .our-impact content .achievements {
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* footer */
    footer content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer content div {
        width: 30%;
    }

    footer content .empty {
        width: 30%;
    }

    footer content .empty1 {
        width: 0;
    }

    footer content .hashtag {
        width: 30%;
    }

}



/*-------------------------DESKTOP VERSION---------------------*/

@media (min-width : 1200px) {

    /* header nav page */
    .nav .logo_links {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .nav .logo_links .logo {
        width: 30%;
    }

    .nav .logo_links .links {
        width: 70%;
        margin-top: 0;
        margin-right: 0;
        width: 100%;
        justify-content: space-around;
    }

    /*start page*/

    .start-page {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3%;
        position: relative;
    }

    .start-page .hashtag {
        width: 40%;
        position: relative;
    }

    .start-page .head_matter {
        width: 40%;
        margin: 0;
        padding: 0 8% 5% 5%;
        position: relative;
        top: 100px;
    }

    .start-page .head_matter .matter {
        padding-top: 5%;
    }

    /* Mission & Values */
    .mission-values .quotes .q {
        width: 20%;
    }

    /* our team */
    .our-team content {
        margin-top: 5%;
    }

    .our-team content .team .member {
        width: 31%;
        margin-bottom: 1%;
    }

    /* our impact */
    .our-impact content .box {
        padding: 15px 25px 15px 25px;
        margin-bottom: 5%;
    }

    .our-impact content .head {
        margin-bottom: 5%;
        width: 60%;
    }

    .our-impact content .achievements {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .our-impact content .achievements .achieved {
        margin: 0;
        width: 23%;
    }


    /* page6 */
    .subscribe {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 2%;
        padding-top: 3%;

    }

    .subscribe h2 {
        text-align: left;
        font: normal normal bold 28px/36px Helvetica;
        width: 50%;
        margin-right: 2%;
    }

    .subscribe div {
        width: 50%;
    }

    /* footer */
    footer {
        padding-bottom: 0;
    }

    footer content div {
        width: 17%;
    }

    footer content .empty,
    .empty1 {
        width: 0;
    }

}