/* header nav bar */
.nav {
    background-color: #FFFFFF;
}

.nav .logo_links .logo {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

.nav .logo_links .links a {
    text-decoration: none;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.nav .donate button {
    border-radius: 100px;
    background-color: #C1F7D5;
    border: 0;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
}

/* start page */
.start-page {
    background: url('assets/about-us/annie-spratt-427339-unsplash@2x.png') no-repeat;
    background-size: cover;
    background-position-x: 30%;
}

.start-page .hashtag {
    text-align: left;
    font: normal normal normal 60px/60px Flood Std;
    color: #FFFFFF;
}

.start-page .head_matter {
    background-color: #FFFFFF;
}

.start-page .head_matter .head {
    background-color: #354463;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.start-page .head_matter .matter p {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

/* Mission & Values */
.mission-values {
    background-color: #354463;
}

.mission-values .head_matter .head {
    background-color: #FFFFFF;
    text-align: center;
    font: normal normal normal 15px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}

.mission-values .head_matter .matter {
    text-align: center;
    font: normal normal bold 20px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.mission-values .quotes h2 {
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    color: #FFFFFF;
}

.mission-values .quotes p {
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
}

/* OUR TEAM*/
.our-team content .box-head-matter .box {
    background-color: #354463;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.our-team content .box-head-matter .head-matter h2 {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #354463;
}

.our-team content .box-head-matter .head-matter p {
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.29px;
    color: #354463;
}

.our-team content .team .member .name {
    background-color: #354463;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
}

/* our team */
.our-impact {
    background: url('assets/about-us/Impact\ Background@2x.png') no-repeat;
    background-size: cover;
    opacity: 1;
    background-color: rgba(0, 15, 15, 0.7);
}

.our-impact content .box {
    background-color: #FFFFFF;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}

.our-impact content .head {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    color: #FFFFFF;
}

.our-impact content .achievements .achieved h4 {
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    color: #FFFFFF;
}

.our-impact content .achievements .achieved P {
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    color: #FFFFFF;
}


/*--------------------- TABLET VERSION---------------------*/

@media(min-width : 600px) {

    /* header nav page */
    .nav .logo_links .logo {
        font: normal normal bold 22px/28px Helvetica;
    }

    .nav .logo_links .links a {
        font: normal normal 300 16px/24px Helvetica;
    }

    /*start page*/
    .start-page .head_matter .matter p {
        font: normal normal bold 28px/36px Helvetica;
        text-align: left;
    }

    /* Mission & Values */
    .mission-values .head_matter .matter p {
        text-align: left;
    }

    .mission-values .quotes h2 {
        font: normal normal bold 22px/28px Helvetica;
    }

    /* our team */
    .our-team content .box-head-matter .head-matter h2 {
        text-align: left;
        font: normal normal bold 36px/46px Helvetica;
    }

    .our-team content .box-head-matter .head-matter p {
        text-align: left;
        font: normal normal 300 18px/24px Helvetica;
    }

    .our-team content .team .member .name {
        font: normal normal 300 14px/20px Helvetica;
    }

    /* our impact */

    .our-impact content .head {
        font: normal normal bold 36px/46px Helvetica;
    }

    .our-impact content .achievements .achieved h4 {
        font: normal normal normal 72px/76px Flood Std;
    }

    .our-impact content .achievements .achieved P {
        font: normal normal bold 22px/28px Helvetica;
    }



}

/*-------------------------DESKTOP VERSION---------------------*/

@media (min-width : 1200px) {

    /* header nav page */
    .nav .logo_links .logo {
        font: normal normal bold 22px/28px Helvetica;
    }

    .nav .logo_links .logo_links a {
        font: normal normal 300 16px/24px Helvetica;
    }

    /*start page*/
    .start-page .hashtag {
        font: normal normal normal 100px/101px Flood Std;
    }

    .start-page .head_matter .matter p {
        font: normal normal bold 35px/39px Helvetica;
        text-align: left;
    }

    /* Mission & Values */
    .mission-values .head_matter .matter {
        font: normal normal bold 28px/36px Helvetica;
    }

    .mission-values .quotes h2 {
        font: normal normal bold 28px/36px Helvetica;
    }

    .mission-values .quotes p {
        font: normal normal 300 16px/24px Helvetica;
    }


    /* our team */
    .our-team content .box-head-matter .box {
        font: normal normal normal 16px/30px Helvetica;
    }

    .our-team content .box-head-matter .head-matter h2 {
        font: normal normal bold 44px/56px Helvetica;
    }

    .our-team content .box-head-matter .head-matter p {
        font: normal normal 300 25px/30px Helvetica;
    }

    .our-team content .team .member .name {
        font: normal normal 300 18px/20px Helvetica;
    }

    /* our impact */
    .our-impact content .head {
        font: normal normal bold 44px/56px Helvetica;
    }

    .our-impact content .achievements .achieved h4 {
       font: normal normal normal 72px/76px Flood Std;
    }

    .our-impact content .achievements .achieved P {
        font: normal normal bold 28px/36px Helvetica;
    }


}