/* header nav bar */
.nav {
    background-color: #FFFFFF;
}

.nav h2 {
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    color: #354463;
}


/* page */
.donation {
    background: url('assets/donation/annie-spratt-427340-unsplash@2x.png') no-repeat;
    background-size: cover;
    background-color: rgba(0, 15, 15, 0.7);
}

.donation content .hashtag {
    text-align: center;
    font: normal normal normal 32px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.donation content form {
    background-color: #354463;
}

form h2 {
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    color: #FFFFFF;
}

form .your-info p,
form .payment-info p {
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

form input,
select {
    border: 0;
    border-bottom: 2px solid #C1F7D5;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    background-color: #354463;
    opacity: 0.5;
}

form .state {
    justify-content: space-between;
}

form .matter {
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    color: #FFFFFF;
}

form button {
    background-color: #C1F7D5;
    border: 0;
    border-radius: 100px;
    font: normal normal bold 16px/20px Helvetica;
    color: #354463;
}

form a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #C1F7D5;
}

/* footer*/
footer content {
    text-align: left;
    color: #354463;
}

footer content .logo {
    font: normal normal bold 18px/22px Helvetica;
}

footer content .contact .p2 {
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
}

footer content .follow p,
.links p,
.contact .p1 {
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
}

footer content .follow a,
.links a {
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

footer content .hashtag {
    text-align: right;
    font: normal normal normal 30px/46px Flood Std;
}

/*--------------------- TABLET VERSION---------------------*/

@media(min-width : 550px) {

    /* header nav page */
    .nav h2{
        font: normal normal bold 30px/30px Helvetica;
    }
    /* donation*/
    .donation content .hashtag {
        font: normal normal normal 72px/76px Flood Std;
    }

    form h2 {
        font: normal normal bold 28px/36px Helvetica;
    }

    form .your-info p,
    form .payment-info p {
        font: normal normal normal 14px/17px Helvetica;
    }

    form input {
        font: normal normal 300 20px/32px Helvetica;
    }

    form .matter {
        font: normal normal bold 28px/36px Helvetica;
    }

    form button {
        font: normal normal bold 22px/28px Helvetica;
    }

    form a {
        font: normal normal 300 16px/56px Helvetica;
    }

    /* footer */
    footer content .logo {
        font: normal normal bold 22px/28px Helvetica;
    }
}

/*-------------------------DESKTOP VERSION---------------------*/

@media (min-width : 900px) {

    /* header nav page */
    .nav h2{
        font: normal normal bold 36px/37px Helvetica;
    }


    /* donation*/
    .donation content .hashtag {
        font: normal normal normal 72px/76px Flood Std;
    }

    form h2 {
        font: normal normal bold 28px/36px Helvetica;
    }

    form input {
        font: normal normal 300 20px/32px Helvetica;
    }

    form .matter {
        font: normal normal bold 28px/36px Helvetica;
    }

    form button {
        font: normal normal bold 22px/28px Helvetica;
    }

    form a {
        font: normal normal 300 16px/56px Helvetica;
    }


    /* footer*/

    footer content .logo {
        font: normal normal bold 22px/28px Helvetica;
    }

    footer content .contact .p1 {
        font: normal normal normal 14px/17px Helvetica;
    }

    footer content .follow p,
    .links p {
        font: normal normal normal 14px/17px Helvetica;
    }

}