* {
    margin: 0;
    padding: 0;
}

.nav {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
}


/* donation */
.donation content {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: column;
}

.donation content form {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.donation content form .your-info,
.payment-info {
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
}

form .payment-info h2,
form .your-info h2 {
    margin: 5% 0 5% 0;
}

form .col {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

form .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .name div {
    width: 45%;
}

form .city-state-zip div {
    width: 31%;
}

form .expire-code .expire,
.cvc {
    width: 45%;
}

form .month-year input {
    width: 45%;
}

form .submit-cancle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form button {
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 25px 10px 25px;
}


/* footer*/

footer {
    padding: 5% 10% 5% 10%;
}

footer content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer content div {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 5%;
}

footer content .empty {
    width: 0;
}

footer content .empty1 {
    width: 20%;
}

footer content .hashtag {
    width: 60%;
}

/*--------------------- TABLET VERSION---------------------*/

@media(min-width : 600px) {

    /* header nav page */


    /* donation*/

    .donation content {
        align-items: center;
    }

    .donation content .hashtag {
        width: 70%;
    }

    .donation content form {
        width: 100%;
    }

    form .submit-cancle {
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    form a {
        align-self: center;
    }

    /* footer */
    footer content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer content div {
        width: 30%;
    }

    footer content .empty {
        width: 30%;
    }

    footer content .empty1 {
        width: 0;
    }

    footer content .hashtag {
        width: 30%;
    }

}




/*-------------------------DESKTOP VERSION---------------------*/

@media (min-width : 1123px) {

    /* header nav page */
    

    /* donation*/
    .donation content {
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .donation content .hashtag {
        width: 30%;
        align-self: start;
    }

    .donation content form {
        width: 50%;
    }

    .donation .form-div{
        padding-top: 0;
        padding-bottom: 0;
    }
    form h2 {
        margin-top: 0;
    }

     /* footer */
    .footer {
        padding-bottom: 0;
    }

    .footer .content {
        display: flex;
        flex-direction: row;
    }

    .footer .content div{
        width: 17%;
    }

    .footer .empty, .footer .empty1 {
        display: none;
    }
}