/* header nav bar */
.nav {
    background-color: #FFFFFF;
}

.nav h2 {
    text-align: center;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    color: #354463;
}


/* page */
.donation {
    background: url('../images/donation/annie-spratt-427340-unsplash@2x.png') no-repeat;
    background-size: cover;
    background-color: rgba(0, 15, 15, 0.7);
}

.donation content .hashtag {
    text-align: center;
    font: normal normal normal 2rem/2.88rem Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.donation content form {
    background-color: #354463;
}

form h2 {
    text-align: left;
    font: normal normal bold 1.38rem/1.75rem Helvetica;
    color: #FFFFFF;
}

form .your-info p,
form .payment-info p {
    text-align: left;
    font: normal normal normal 0.69rem/0.81rem Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

form input,
select {
    border: 0;
    border-bottom: 2px solid #C1F7D5;
    text-align: left;
    font: normal normal 300 1rem/1.5rem Helvetica;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    background-color: #354463;
    opacity: 0.5;
}

form .state {
    justify-content: space-between;
}

form .matter {
    text-align: left;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    color: #FFFFFF;
}

form button {
    background-color: #C1F7D5;
    border: 0;
    border-radius: 100px;
    font: normal normal bold 1rem/1.25rem Helvetica;
    color: #354463;
}

form a {
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 0.88rem/1.5rem Helvetica;
    letter-spacing: -0.14px;
    color: #C1F7D5;
}

/* footer*/
footer content {
    text-align: left;
    color: #354463;
}

footer content .logo {
    font: normal normal bold 1.13rem/1.38rem Helvetica;
}

footer content .contact .p2 {
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
}

footer content .follow p,
.links p,
.contact .p1 {
    font: normal normal normal 0.69rem/0.81rem Helvetica;
    letter-spacing: 0.44px;
}

footer content .follow a,
.links a {
    text-decoration: underline;
    font: normal normal 300 0.88rem/1.5rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

footer content .hashtag {
    text-align: right;
    font: normal normal normal 2.5rem/2.88rem Flood Std;
}

/*--------------------- TABLET VERSION---------------------*/

@media(min-width : 600px) {

    /* header nav page */
    .nav h2 {
        font: normal normal bold 1.88rem/1.88rem Helvetica;
    }

    /* donation*/
    .donation content .hashtag {
        font: normal normal normal 4.5rem/4.75rem Flood Std;
    }

    form h2 {
        font: normal normal bold 1.75rem/2.25rem Helvetica;
    }

    form .your-info p,
    form .payment-info p {
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

    form input {
        font: normal normal 300 1.25rem/2rem Helvetica;
    }

    form .matter {
        font: normal normal bold 1.75rem/2.25rem Helvetica;
    }

    form button {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }

    form a {
        font: normal normal 300 1rem/3.5rem Helvetica;
    }

    /* footer */
    footer content .logo {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }
}

/*-------------------------DESKTOP VERSION---------------------*/

@media (min-width : 1123px) {

    /* header nav page */
    .nav h2 {
        font: normal normal bold 2.25rem/2.31rem Helvetica;
    }


    /* donation*/
    .donation content .hashtag {
        font: normal normal normal 4.5rem/4.75rem Flood Std;
    }

    form h2 {
        font: normal normal bold 1.75rem/2.25rem Helvetica;
    }

    form input {
        font: normal normal 300 1.25rem/2rem Helvetica;
    }

    form .matter {
        font: normal normal bold 1.75rem/2.25rem Helvetica;
    }

    form button {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }

    form a {
        font: normal normal 300 1rem/3.5rem Helvetica;
    }


    /* footer*/

    .footer .content .logo {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }

    .footer .content .contact .p1 {
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

    .footer .content .follow p,
    .links p {
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

}