* {
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 20px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFFFF;
    margin: auto;
    flex-direction: column;
    margin-bottom: 10px;
}

.header_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_links .heading {
    color: #354463;
    font: normal normal bold 1.56rem Helvetica;
}

.nextlinks {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nextlinks a {
    text-decoration: none;
    font: normal normal 300 0.8rem/0.94rem Helvetica;
    margin: 0.3rem;
    color: #354463;
}

.donate {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button {
    padding: 11px;
    color: #354463;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    border: 0;
    border-radius: 6.5rem;
    width: 100%;
    background-color: #C1F7D5;
}

.stop-climate-change {
    width: auto;
    height: 76Vh;
    background: url('../images/home/annie-spratt-135307-unsplash@3x.png') no-repeat;
    background-position-x: 80%;
    background-size: cover;
    opacity: 1.76;
}

.stop-climate-change .contents {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
}

.hashtag img {
    margin-top: 5%;
    width: 100%;
    height: 20vh;
    width: 25vh;
}

.text_area {
    margin-right: 10%;
    margin-bottom: 7%;
    height: 40%;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.head_area {
    width: 160px;
    height: 13%;
    position: absolute;
    top: -6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    font: normal normal normal 1rem/1.06rem Helvetica;
    background-color: #354463;
    color: #FFFFFF;
}

.matter {
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.matter .para1 {
    height: 40%;
    color: #354463;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font: normal normal bold 1.56rem/1.75rem Helvetica;
}

.matter .para2 {
    color: #354463;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: underline;
    font: normal normal 300 1.13rem/1.5rem Helvetica;
}

.end {
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    height: 25vh;
    background-color: #C1F7D5;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.top_box {
    font: normal normal normal 1rem/1.06rem Helvetica;
    background-color: #354463;
    color: #FFFFFF;
    width: 140px;
    position: absolute;
    top: -17px;
    height: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxa_b {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxa_b .boxa {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.boxa .para1 {
    text-align: left;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.boxa .para2 {
    text-align: left;
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.boxa_b .boxb {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.boxb .para1 {
    text-align: left;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.boxb .para2 {
    text-align: left;
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.boxc_d {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boxc_d .boxc {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.boxc .para1 {
    text-align: left;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.boxc .para2 {
    text-align: left;
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.boxc_d .boxd {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.boxd .para1 {
    text-align: left;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.boxd .para2 {
    text-align: left;
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

.what-we-do {
    background-color: #354463;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.what-we-do-msg {
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: normal normal bold 1.38rem/1.75rem Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.what-we-do-msg .heading {
    width: 160px;
    height: 40px;
    font: normal normal normal 1rem/1.06rem Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 3%;
}

.missions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.mission3,
.mission1,
.mission2 {
    padding-bottom: 10%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.mission3 img,
.mission1 img,
.mission2 img {
    width: 80%;
    position: relative;
    top: -50Px;
}

.mission3 .text_area,
.mission1 .text_area,
.mission2 .text_area {
    margin: 0;
    width: 80%;
}

.mission3 .text_area h2,
.mission1 .text_area h2,
.mission2 .text_area h2 {
    text-align: center;
    font: normal normal bold 1rem/1.38rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.mission3 .text_area p,
.mission2 .text_area p,
.mission1 .text_area p {
    text-align: center;
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    padding-bottom: 7%;
}

.missions button {
    background-color: #C1F7D5;
    border-radius: 100px;
    border: 0;
    height: 40px;
    width: 160px;
}

.take_action_today {
    background: url('../images/home/did-you-know-background@3x.png') no-repeat;
    background-size: cover;
    padding: 4% 10% 4% 10%;
    display: flex;
    flex-direction: column;
}

.hashtag_button img {
    margin-top: 5%;
    width: 80%;
    height: 21vh;
}

.hashtag_button button {
    background-color: #C1F7D5;
    border-radius: 100px;
    border: 0;
    height: 40px;
    width: 160px;
    font: normal normal bold 1rem/1.25rem Helvetica;
    color: #354463;
    margin-bottom: 20%;
}

.did_you_know {
    display: flex;
    flex-direction: column;
}

.did_you_know p {
    width: 90%;
}

.did_you_know .circle {
    height: 40px;
    width: 40px;
    background-color: #C1F7D5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.did_you_know .circle img {
    height: 20px;
}

.insight1 {
    background-color: #FFFFFF;
    padding: 3%;
    padding-top: 7%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    position: relative;
}

.insight1 .heading {
    background-color: #354463;
    height: 40px;
    width: 160px;
    text-align: center;
    font: normal normal normal 0.88rem/1.06rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15%;
}

.insight1 .div1 {
    align-self: start;
    text-align: left;
    font: normal normal bold 1.06rem/1.75rem Helvetica;
    color: #354463;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.insight1 .div2 {
    align-self: start;
    display: flex;
    text-align: left;
    font: normal normal 300 1rem/1.06rem Helvetica;
    color: #354463;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.insight2,
.insight3,
.insight4 {
    background-color: #FFFFFF;
    padding: 4%;
    margin-bottom: 5%;
}

.insight2 .div1,
.insight3 .div1,
.insight4 .div1 {
    display: flex;
    text-align: left;
    font: normal normal bold 1.06rem/1.75rem Helvetica;
    color: #354463;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.insight2 .div2,
.insight3 .div2,
.insight4 .div2 {
    display: flex;
    text-align: left;
    font: normal normal 300 1rem/1.06rem Helvetica;
    color: #354463;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stories {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.stories .head_img {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}

.stories .head_img .heading {
    background-color: #354463;
    padding: 10px 25px 10px 25px;
    align-self: center;
    position: absolute;
    top: -2.5%;
    font: normal normal normal 0.88rem/1.06rem Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.stories .matter_button {
    display: flex;
    flex-direction: column;
}

.stories .matter_button .matter {
    padding: 10%;
    background-color: #354463;
    margin-bottom: 5%;
    text-align: center;
    font: normal normal bold 0.94rem/1.75rem Helvetica;
    color: #FFFFFF;
}

.stories .matter_button .matter h3 {
    font: normal normal bold 0.94rem/1.75rem Helvetica;
    padding-bottom: 10%;
}

.stories .matter_button .matter p {
    font: normal normal normal 0.69rem/0.81rem Helvetica;
    letter-spacing: 0.44px;
}

.stories .matter_button button {
    background-color: #C1F7D5;
    border-radius: 100px;
    border: 0;
    padding: 10px 25px 10px 25px;
    font: normal normal bold 1rem/1.25rem Helvetica;
    color: #354463;
    margin-bottom: 5%;
    align-self: center;
}

.lets-take-action {
    background-color: #354463;
    padding-left: 10%;
    padding-right: 10%;
}

.lets-take-action .content {
    display: flex;
    flex-direction: column;
}

.lets-take-action .content .tag {
    text-align: center;
    font: normal normal normal 2.5rem/2.88rem Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 5%;
}

.lets-take-action .content .news {
    display: flex;
    flex-direction: column;
}

.news .events,
.latest {
    display: flex;
    flex-direction: column;
}

.news .img_head {
    display: flex;
    flex-direction: column;
}

.news .img_head .head {
    width: 160px;
    display: flex;
    height: 2.5rem;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font: normal normal normal 1rem/1.06rem Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    align-self: center;
    position: relative;
    top: 1.25rem;
}

.news h2 {
    padding-top: 1.25rem;
    text-align: center;
    font: normal normal bold 1.38rem/1.75rem Helvetica;
    color: #FFFFFF;
}

.news p {
    padding: 1.13rem;
    text-align: center;
    font: normal normal normal 90%/1.25rem Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

.news button {
    padding: 0.63rem 1.56rem 0.63rem 1.56rem;
    background-color: #C1F7D5;
    border: 0;
    border-radius: 100px;
    font: normal normal bold 1.13rem/1.38rem Helvetica;
    color: #354463;
}

.news .matter_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.31rem;
}

.subscribe {
    padding: 10%;
    padding-bottom: 0.31rem;
    padding-top: 0.31rem;
    background-color: #C1F7D5;
    display: flex;
    flex-direction: column;
}

.subscribe h2 {
    text-align: left;
    font: normal normal bold 1.38rem/1.75rem Helvetica;
    color: #354463;
    padding-bottom: 0.63rem;
}

.subscribe div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe .email {
    border-radius: 100px;
    border: 0;
    height: 1.88rem;
    text-align: center;
    width: 60%;
    padding: 0.06rem;
    background-color: #FFFFFF;
}

.subscribe button {
    border-radius: 100px;
    border: 0;
    padding: 0.63rem;
    background-color: #354463;
    text-align: left;
    font: normal normal bold 1rem/1.19rem Helvetica;
    width: 40%;
    color: #C1F7D5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.06rem;
}

footer {
    padding: 5% 10% 5% 10%;
}

footer content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer content div {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 0.31rem;
}

footer content .empty {
    width: 0;
}

footer content .empty1 {
    width: 20%;
}

footer content .hashtag {
    width: 60%;
}

footer content {
    text-align: left;
    color: #354463;
}

footer content .logo {
    font: normal normal bold 1.13rem/1.38rem Helvetica;
}

footer content .contact .p2 {
    font: normal normal 300 0.88rem/1.25rem Helvetica;
    letter-spacing: -0.14px;
}

footer content .follow p,
.links p,
.contact .p1 {
    font: normal normal normal 0.69rem/0.81rem Helvetica;
    letter-spacing: 0.44px;
}

footer content .follow a,
.links a {
    text-decoration: underline;
    font: normal normal 300 0.88rem/1.5rem Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}

footer content .hashtag {
    text-align: right;
    font: normal normal normal 2.5rem/2.88rem Flood Std;
}

@media(min-width : 600px) {
    html{
        font-size: 16px;
    }
    .header {
        height: 7vh;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 15px;
    }

    .header_links {
        flex-direction: column;
        flex: 2;
        align-items: start;
    }

    .nextlinks {
        width: 80%;
        flex-direction: row;
        justify-content: space-between;
    }

    .donate {
        padding: 0;
        align-items: center;
    }

    .matter .para1 {
        text-align: left;
        font: normal normal bold 2.25rem/2.88rem Helvetica;
    }

    .end {
        height: 17vh;
        padding-top: 30px;
    }

    .boxc_d {
        padding-top: 20px;
    }

    .ms {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        align-items: center;
    }

    .ms .img {
        width: 50%;
    }

    .ms .text_area {
        width: 50%;
    }

    .ms .button {
        width: 50%;
        align-self: self-end;
        padding: 0%;
    }

    .take_action_today {
        flex-direction: row;
    }

    .hashtag_button {
        flex: 1;
        padding-top: 5%;
        padding-right: 5%;
    }

    .did_you_know {
        flex: 2;
        padding: 5%;
        padding-right: 0;
    }

    .did_you_know p {
        font: normal normal 300 1.25rem/1.25rem Helvetica;
    }

    .what-we-do missions img {
        top: -70px;
    }

    .stories {
        position: relative;
    }

    .stories .head_img {
        padding-right: 15%;
        margin: 0;
    }

    .stories .matter_button {
        width: 85%;
        position: relative;
        top: -60px;
        left: 15%;
    }

    .stories .matter_button .matter h3 {
        text-align: left;
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }

    .stories .matter_button .matter p {
        text-align: left;
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

    .stories .matter_button button {
        margin-bottom: 5%;
        align-self: start;
    }

    .lets-take-action {
        padding-bottom: 3%;
    }

    .news .events {
        flex-direction: row;
    }

    .news .events .img_head {
        width: 50%;
        flex: 1;
    }

    .news .events .matter_button {
        flex: 1;
    }

    .news .events .img_head .head {
        left: 100%;
        top: 40px;
    }

    .news .events .matter_button {
        padding-top: 13%;
    }

    .news .latest {
        padding-top: 2%;
        flex-direction: row-reverse;
    }

    .news .latest .img_head {
        width: 50%;
    }

    .news .latest .matter_button {
        padding-top: 13%;
    }

    .news .latest .img_head .head {
        left: -100%;
        top: 50px;
    }

    footer content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer content div {
        width: 30%;
    }

    footer content .empty {
        width: 30%;
    }

    footer content .empty1 {
        width: 0;
    }

    footer content .hashtag {
        width: 30%;
    }

    footer content .logo {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }
}

@media(min-width:1200px) {
    .header {
        height: 9vh;
        padding: 0, 10%, 0, 10%;
    }

    .header_links {
        flex-direction: row;
        align-items: center;
    }

    .header_links .heading {
        width: 50%;
    }

    .nextlinks {
        justify-content: flex-end;
        justify-content: space-around;
    }

    .stop-climate-change .contents {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .hashtag {
        height: 70%;
        flex: 1;
    }

    .text_area {
        height: 50%;
        flex: 1;
    }

    .matter {
        padding: 20px;
        padding-top: 35px;
        justify-content: space-around;
    }

    .matter .para1 {
        height: auto;
        text-align: left;
        font: normal normal bold 2.75rem/3.13rem Helvetica;
    }

    .matter .para2 {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 1rem/1.5rem Helvetica;
    }

    .end {
        height: 11vh;
    }

    .main_box {
        padding-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .boxa_b {
        width: 45%;
    }

    .boxc_d {
        padding: 0;
        width: 45%;
    }

    .what-we-do {
        padding-bottom: 2%;
    }

    .what-we-do-msg {
        padding-left: 0;
        align-items: start;
        padding-bottom: 0;
        font: normal normal bold 2.75rem/3.5rem Helvetica;
        text-align: start;
        justify-content: space-around;
        margin-bottom: 7%;
    }

    .missions {
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ms {
        padding-top: 0;
        margin-top: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 20%;
    }

    .ms .img {
        padding-left: 40%;
        position: relative;
        width: 140%;
        top: -50px;
    }

    .ms .text_area {
        width: 100%;
    }

    .ms .button {
        align-self: center;
    }

    .hashtag_button {
        flex: 1;
        padding-top: 5%;
    }

    .did_you_know {
        flex: 1;
        padding: 5%;
        padding-right: 0;
        padding-bottom: 2%;
    }

    .did_you_know p {
        font: normal normal 300 1.25rem/1.25rem Helvetica;
    }

    .stories {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        padding: 10%;
        padding-bottom: 3%;
        padding-top: 5%;
        padding-left: 0;
        width: 90%;
    }

    .stories .matter_button {
        position: relative;
        top: 0;
        left: 10%;
        height: 50%;
        align-self: center;
    }

    .stories .head_img {
        padding: 0;
        width: 50%;
    }

    .stories .matter_button .matter h3 {
        text-align: left;
        font: normal normal bold 1.75rem/2.25rem Helvetica;
    }

    .stories .matter_button .matter p {
        text-align: left;
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

    .stories .matter_button button {
        margin: 0;
    }

    .lets-take-action {
        padding-bottom: 5%;
    }

    .lets-take-action .news img {
        height: 100%;
    }

    .lets-take-action .news .head {
        align-self: start;
    }

    .news .events .head {
        margin-left: 20%;
    }

    .news .latest {
        padding-top: 10%;
    }

    .lets-take-action .news .events .matter_button {
        padding-left: 10%;
    }

    .lets-take-action .news .latest .matter_button {
        padding-right: 10%;
    }

    .lets-take-action .news p {
        text-align: left;
        padding-left: 0;
        font: normal normal 300 1.25rem/2rem Helvetica;
        letter-spacing: -0.4px;
        color: #FFFFFF;
    }

    .lets-take-action .news h2 {
        padding: 0;
        padding-right: 20%;
        text-align: left;
        font: normal normal bold 2.75rem/3.5rem Helvetica;
    }

    .news button {
        align-self: start;
    }

    .subscribe {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 2%;
        padding-top: 3%;
    }

    .subscribe h2 {
        text-align: left;
        font: normal normal bold 1.75rem/2.25rem Helvetica;
        width: 50%;
        margin-right: 2%;
    }

    .subscribe div {
        width: 50%;
    }

    footer {
        padding-bottom: 2%;
    }

    footer content {
        display: flex;
        flex-direction: row;
    }

    footer content .empty,
    .empty1 {
        width: 0;
    }

    footer content div {
        width: 17%;
        padding-right: 0.13rem;
    }

    footer content .logo {
        font: normal normal bold 1.38rem/1.75rem Helvetica;
    }

    footer content .contact .p1 {
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }

    footer content .follow p,
    .links p {
        font: normal normal normal 0.88rem/1.06rem Helvetica;
    }
}
